{
  "extends": "airbnb-base",
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "object-curly-newline": ["error", { "consistent": true }],
    "semi": [2, "never"],
    "semi-style": [2, "first"],
    "indent": [2, "tab", {
      "SwitchCase": 1
    }],
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "camelcase": 0,
    "no-tabs": 0
  }
}
